<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost:9090</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>mywebsite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="AttendanceSystemDBEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-QNMDPQD\SQLEXPRESS;Initial Catalog=AttendanceSystemDB;Integrated Security=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Attendance.AttendanceSystemDBEntities1, Attendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AttendanceSystemDBEntities3" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Attendance.AttendanceSystemDBEntities3, Attendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AttendanceSystemDBEntities2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Attendance.AttendanceSystemDBEntities2, Attendance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AttendanceSystemDBEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=DESKTOP-QNMDPQD\SQLEXPRESS;Initial Catalog=AttendanceSystemDB;Integrated Security=True" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-QNMDPQD\SQLEXPRESS;Initial Catalog=AttendanceSystemDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AttendanceSystemDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataEntities.csdl|res://*/DataEntities.ssdl|res://*/DataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QNMDPQD\SQLEXPRESS;initial catalog=AttendanceSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AttendanceSystemDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataEntities.csdl|res://*/DataEntities.ssdl|res://*/DataEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-QNMDPQD\SQLEXPRESS;initial catalog=AttendanceSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AttendanceSystemDBEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AttendanceSystemDBEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="AttendanceSystemDBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-QNMDPQD\SQLEXPRESS;Initial Catalog=AttendanceSystemDB;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>